<template>
  <div class="container">
    <div
      v-if="result && result.length"
      class="scan-result-wrapper"
    >
      识别结果：<span class="scan-result">{{ result }}</span>
    </div>
    <van-button
      type="primary"
      @click="onScanClick"
    >
      扫码识别
    </van-button>
    <van-popup
      v-if="showQRCodeScanner"
      v-model:show="showQRCodeScanner"
      position="bottom"
    >
      <div class="scanner-wrapper">
        <QRCodeScanner
          @success="onScanSuccess"
          @closeCamera="onScannerClose"
        />
        <div
          class="close"
          @click="onCloseClick"
        >
          <van-icon class="close-icon" name="cross" />
        </div>
      </div>
    </van-popup>
  </div>
</template>
<script setup lang="ts">
import { ref } from 'vue'
import QRCodeScanner from '@/components/qrcode-scanner/index.vue' 

const result = ref<string | undefined>()
const showQRCodeScanner = ref(false)

const onScanClick = () => {
  showQRCodeScanner.value = true
}

const onCloseClick = () => {
  showQRCodeScanner.value = false
}

const onScanSuccess = (value: any) => {
  showQRCodeScanner.value = false
  result.value = value.toString()
}

const onScannerClose = () => {
  showQRCodeScanner.value = false
}

</script>
<style>
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .scan-result-wrapper {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 20px 30px;
}
.container .scan-result-wrapper .scan-result {
  color: red;
}
.scanner-wrapper {
  position: relative;
  background-color: #000000;
}
.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 3px;
  top: 0;
  color: #ffffff;
  width: 44px;
  height: 44px;
  z-index: 999;
}
.close .close-icon {
  font-size: 20px;
}
</style>